<nav class="header">
  <div class="title">Örökbefogadás</div>
  <div class="hamburger" (click)="toggleMenu()">☰</div>

  <div class="menu" [class.open]="menuOpen">
    <a routerLink="/news" routerLinkActive="active" (click)="closeMenu()">Kezdőlap</a>
    <a routerLink="/animals" routerLinkActive="active" (click)="closeMenu()">Állatok</a>

    <ng-container *ngIf="isLoggedIn">
      <ng-container *ngIf="isAdmin">
        <a routerLink="/admin" routerLinkActive="active" (click)="closeMenu()">Admin</a>
      </ng-container>

      <ng-container *ngIf="!isAdmin">
        <a routerLink="/favorites" routerLinkActive="active" (click)="closeMenu()">Kedvenceim</a>
        <a routerLink="/my-adoptions" routerLinkActive="active" (click)="closeMenu()">Kérelmeim</a>
        <a routerLink="/meetings" routerLinkActive="active" (click)="closeMenu()">Találkozók</a>
      </ng-container>

      <a (click)="logout()">Kijelentkezés</a>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn">
      <a (click)="toggleLogin()">Bejelentkezés</a>
      <a (click)="toggleRegister()">Regisztráció</a>
    </ng-container>
  </div>
</nav>

<app-login-modal [isOpen]="loginModalOpen" (closeModal)="toggleLogin()"></app-login-modal>
<app-register-modal [isOpen]="registerModalOpen" (closeModal)="toggleRegister()"></app-register-modal>