@use 'variables' as *;
@use 'sass:color'; 

.admin-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  h1 {
    text-align: center;
    color: $color-accent;
  }

  .card {
    background-color: $color-background;
    padding: 2rem;
    width: 80%;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
      color: $color-primary;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      input, textarea {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid $color-primary;
        border-radius: $border-radius;
        background: $page-bg;
        color: $color-primary;
      }

      label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
      }

      button {
        background-color: $color-accent;
        color: $color-background;
        padding: 0.75rem;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        align-self: flex-start;

        &:hover {
            background-color: color.adjust($color-accent, $lightness: -10%);
        }
      }
    }
  }
}
