$color-primary: #626F47;
$color-secondary: #A4B465;
$color-accent: #FFCF50;
$color-background: #FEFAE0;
$color-text-variant: #FEFAE0;
$color-text: #2F2F2F;

$header-bg: $color-primary;
$menu-bg: $color-secondary;
$highlight: $color-accent;
$page-bg: $color-background;
$text-color: $color-text;

$border-radius: 12px;
