@use 'variables' as *;

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $footer-bg;
    color: $color-text-variant;
    font-size: 0.95rem;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin: 1rem;
  }
  
  .footer-section h3 {
    color: $color-accent;
    margin-bottom: 0.5rem;
  }
  
  .footer-section p, .footer-section li {
    margin: 0.3rem 0;
  }
  
  .footer-section a {
    color: $color-text-variant;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: $color-accent;
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
