@use 'variables' as *;

.animal-detail {
  background: $color-secondary;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  border-radius: $border-radius;
  color: $color-text;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  h1 {
    color: $color-accent;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
  }

  .meeting-form {
    margin-top: 2rem;

    input {
      display: block;
      width: 40%;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      border-radius: $border-radius;
      border: 1px solid $color-primary;
    }

    button {
      background: $color-accent;
      color: $color-text;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: $border-radius;
      cursor: pointer;
    }
  }

  .login-prompt {
    margin-top: 2rem;
    background: $color-accent;
    padding: 1rem;
    border-radius: $border-radius;
    color: $color-text;
  }

  .not-available {
    margin-top: 2rem;
    background: $color-accent;
    padding: 1rem;
    border-radius: $border-radius;
    color: $color-text;
    font-weight: bold;
    text-align: center;
  }
  
}

.adopt-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.adopt-modal-content {
  background: $color-background;
  padding: 2rem;
  border-radius: $border-radius;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  margin-top: 1rem;
}

.already-requested {
  color: $color-text;
  width:fit-content;
  background-color: $color-accent;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  margin-top: 1rem;
}