@use 'variables' as *;


.text-primary { color: $color-primary; }
.text-secondary { color: $color-secondary; }
.text-accent { color: $color-accent; }
.text-light { color: $color-background; }
.text-dark { color: $color-text; }


.bg-primary { background-color: $color-primary; }
.bg-secondary { background-color: $color-secondary; }
.bg-accent { background-color: $color-accent; }
.bg-light { background-color: $color-background; }


.btn {
  background-color: $color-accent;
  color: $color-primary;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: $color-accent;
  }
}

button,
input,
textarea,
select,
.card,
.modal,
.container,
nav{
  border-radius: $border-radius;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $page-bg;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
}
